div.navbar.navbar-default.navbar-fixed-top
  div.container
    div.navbar-header
      a.navbar-brand(href='/') Chris Hiester
      button.navbar-toggle(data-target='.nav-collapse', data-toggle='collapse', type='button')
        span.icon-bar
        span.icon-bar
        span.icon-bar

div.jumbotron
  div.container
    h3 For over twenty years, I've built successful web applications by bringing together technology, business, and design teams in the service of users.
    div.sunburst

div.col-lg-12.text-center.v-center.social-icons
  a.social(href='https://plus.google.com/u/1/+ChristopherHiester/')
    i.fa.fa-google-plus
  a.social(href='http://twitter.com/hiester')
    i.fa.fa-twitter
  a.social(href='https://github.com/chiester')
    i.fa.fa-github
  a.social(href='http://linkedin.com/in/hiester')
    i.fa.fa-linkedin







script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src='http://d3js.org/d3.v3.min.js')
script(src='cdh.js')
script(src='ga.js')
